# Copy this file to .env and fill in your values
# NEVER commit .env to version control

DATABASE_URL=postgresql+asyncpg://securemsg:securemsg@db:5432/securemsg
REDIS_URL=redis://:alphaandthecryptmunks@redis:6379/0
JWT_SECRET_KEY=CHANGE_ME_TO_A_RANDOM_256_BIT_SECRET
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

# Set after deploying MessageDigest.sol to Sepolia
ETH_RPC_URL=
CONTRACT_ADDRESS=
ETH_PRIVATE_KEY=
